@font-face {
    font-family: 'florencesans_blackitalic';
    src: url('/fonts/florsn34-webfont.eot');
    src: url('/fonts/florsn34-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/florsn34-webfont.woff') format('woff'),
         url('/fonts/florsn34-webfont.ttf') format('truetype'),
         url('/fonts/florsn34-webfont.svg#florencesans_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}