<div class="knp_last_tweets">
    {% if tweets %}
        <ul class="tweets-lista">
        {% for tweet in tweets %}
            <li class="tweet-item">
                <div class="tweet-item-contenedor">
                    <div class="tweet-item-imagen">
                        <img src="{{asset('images/keyarts/home/homelogo.png')}}" width="60" height="60"/>
                    </div>
                    <div class="tweet-item-contenido">
                        <span class="tweet-item-tiempo">
                            <img src="{{asset('images/bird_16_gray.png')}}" />
                            {{tweet.createdAt|twitter_time}}
                        </span>
                            
                        {{ tweet.text|knp_tweet_urlize }}
                    </div>    
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        No tweets
    {% endif %}
</div>
