<ul class="nav">
    <li {% if pagina=="homepage" %} class="active" {% endif %}>
        <a href="{{path('backend_homepage')}}">Dashboard</a>
    </li>
    <li {% if pagina=="galerias" %} class="active" {% endif %}>
        <a href="{{path('categorias_seleccionar')}}">Galerias</a>
    </li>
    <li {% if pagina=="publicaciones" %} class="active" {% endif %}>
        <a href="{{path('publicacion_seleccionar_categoria')}}">Publicaciones</a>
    </li>
    <li {% if pagina=="configuraciones" %} class="active" {% endif %}>
        <a href="{{path('backend_configuraciones')}}">Configuraciones</a>
    </li>
</ul>